RSS_ITEMS_FILE=./out/rss_items.json
BASE_URL=https://blog.codinghorror.com
MAX_RETRY_COUNT=5
LOG_FILE=./fetch_next.log
DIRECTION=normal
SLICE=300
REMOTE_BASE_URL=https://raw.githubusercontent.com/goooooouwa/out/master/out
OUT_DIR=./out
